.header {
    background-color: rgb(20, 56, 20);
    color: wheat;
    text-align: center;
}

.main {
    background-color: rgb(148, 154, 160);
    padding: 1em;
}



body {
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}